<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <header layout:fragment="header">
        <div class="header">
            <h1>Toy Box</h1>
            <p>Resize the browser window to see the responsive effect.</p>
        </div>

        <div class="top-nav">
            <a href="/markdown-viewer">MakrDown</a>
            <a href="#">Link</a>
            <a href="#">Link</a>

            <a href="#" style="float:right">Link</a>
        </div>
    </header>
</html>
