<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header layout:fragment="header">
        <div class="header">
            <h1>
                <a href="/">Toy Box</a>
            </h1>
            <p>Resize the browser window to see the responsive effect.</p>
        </div>

        <div class="top-nav">
            <a href="/markdown-viewer">MakrDown</a>
            <a href="#">Link</a>
            <a href="#">Link</a>

            <a href="/login" style="float:right">Login</a>
        </div>
    </header>
</html>
